body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.8); /* Cambia a un color gris claro */
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative; /* Para que el fondo se posicione correctamente */
  width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.first-container {
  display: flex; /* Usar flexbox para alinear los elementos en línea */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: flex-start; /* Alinear los elementos al inicio */
  padding: 1.25rem; /* Espaciado interno */
}

.container {
  text-align: center; /* Asegura que el texto dentro del contenedor esté centrado */
  max-width: 62.5rem; /* Ancho fijo de 50rem */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex-grow: 1; /* Asegura que el contenedor ocupe el espacio disponible */
  padding-bottom: 5rem; /* Espacio para que el footer no cubra el contenido */
}

header {
  position: sticky;
  top: 0;
  z-index: 800;
  width: 100%; /* El encabezado abarca todo el ancho */
  margin: 0 auto; /* Centra el encabezado horizontalmente */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.25rem;
  display: flex; /* Usar flexbox para alinear elementos */
  flex-direction: column; /* Cambia la dirección a columna */
  align-items: center; /* Centra los elementos horizontalmente */
}

.header-right {
  max-height: 6.25rem; /* Limita la altura máxima de la imagen */
  width: auto; /* Mantiene la proporción de la imagen */
  margin: 0 auto; /* Centra horizontalmente si es necesario */
}

.header-content {
  padding: 1.25rem; /* Espaciado interno */
  position: center; /* Para que el contenido esté sobre el fondo */
  width: 100%; /* El contenedor ocupa todo el ancho disponible */
  display: flex;
  justify-content: center; /* Centra el contenido dentro del header */
}

header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  color: #000;
  text-align: center; /* Centra el texto del título */
}

header img {
  position: sticky;
  height: 5rem;
  width: auto;
  justify-content: flex-start;
  /*margin-right: 6.25rem;  /*Espacio entre la imagen y el título */
}
.calendario-container {
    margin: 20px auto; /* Centra el contenedor horizontalmente y agrega margen superior e inferior */
    padding: 20px; /* Espaciado interno */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: inherit;
}

.calendario-container h2 {
    text-align: center; /* Centra el título */
    color: #333; /* Color del texto del título */
    margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilo general para el contenedor principal */
.tatwa-container {
  max-width: auto; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  padding: 1.25rem; /* Espaciado inerno */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco suave */
  border-radius: 10px; /* Bordes redondeados */
}

#tatwa-color_hex {
  display: none;
}

.tatwa-info {
  flex: 2;
  max-width: 50rem; /* Establece un ancho máximo fijo */
  background-color: #ffffff;
  padding: 1.25rem;
  padding-bottom: 2.5rem; /* Espaciado adicional en la parte inferior */
  /*border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.tatwa-info .tatwa-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50rem;
}

.next-tatwa {
  flex: 1;
  min-width: 300px;
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.next-tatwa h2 {
  margin-top: 0;
}

#schedule-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#schedule-list li {
  font-size: 0.9em;
  color: #555;
  margin: 5px 0;
}

h2 {
  font-size: 1.5em;
  color: #000;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

h1, h2 {
  text-align: center; /* Centra el texto de todos los títulos */
}

.tatwa-info .tatwa-details p,
.tatwa-info ul li {
  font-size: 1em;
  color: #555;
  margin: 5px 0;

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  color: #666;
  display: flex;
  align-items: flex-start;
  padding-left: 10%;
  z-index: 800; /* Asegura que el footer esté por encima del contenido */
  backdrop-filter: blur(10px); /* Efecto de desenfoque de fondo */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e0e0e0; /* Resaltar fila al pasar el mouse */
}

/*---------------------------MENU--------------------------*/
.primary-menu-wrapper {
  background-color: rgba(24, 77, 71, 1); /* Color de fondo del menú */
  padding: 10px 0; /* Espaciado superior e inferior */
  max-width: 100%; /* Establece un ancho máximo fijo */
  margin: 0 auto;
  width: 100%; /* Asegúrate de que el encabezado ocupe todo el ancho */
  max-height: max-content;
}

.primary-menu {
  list-style: none; /* Eliminar los puntos de la lista */
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar relleno */
  display: flex; /* Usar flexbox para alinear los elementos */
  justify-content: center; /* Alinear los elementos a la derecha */
}

.primary-menu .menu-item {
  margin: 0 15px; /* Espaciado entre los elementos del menú */
}

.primary-menu .menu-item a {
  text-decoration: none; /* Eliminar subrayado de los enlaces */
  color: #ffffff; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  transition: color 0.3s; /* Transición suave para el color */
}

.primary-menu .menu-item a:hover {
  color: #15bd68; /* Color del texto al pasar el mouse */
}

.primary-menu .menu-item.current-menu-item a {
  font-weight: bold; /* Resaltar el elemento actual */
  color: #15bd68; /* Color del texto del elemento actual */
}

.last-container {
  display: inline-flex; /* Usar flexbox para alinear los elementos */
  justify-content: center; /* Alinear los elementos al inicio */
  align-items: center; /* Alinear los elementos al inicio */
  gap: 1rem; /* Espacio entre los elementos */
  padding: 1.25rem; /* Espaciado interno */
  flex-direction: column;
}

/* Contenedor Principal */
.main-container {
  width: 100%;
}

/* General: Contenedor principal */
.tatwa-info {
  max-width: 50rem; /* Igual al ancho principal */
  margin: 0 auto; /* Centra el contenedor */
  padding: 1.25rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/* Contenedor para Acciones y Siguiente Tatwa */
.actions-container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

/* Estilos para Acciones y Siguiente Tatwa */
.tatwa-actions,
.next-tatwa {
  flex: 1; /* Ambos ocupan el 50% del ancho del contenedor */
  max-width: calc(50% - 10px); /* Ajusta considerando el gap */
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tatwa-actions h3,
.next-tatwa h3 {
  margin-bottom: 10px;
  color: #00914A;
  font-size: 1.2em;
}


.tatwa-actions p,
.next-tatwa p {
  margin: 5px 0;
  color: #555;
}

/*---------------------BACKGROUND FOR TATWAS--------------*/
/*BACKGROUNDS
https://imgkub.com/images/2024/12/12/Banner_vayu.jpg
https://imgkub.com/images/2024/12/12/Banner_agni.jpg
https://imgkub.com/images/2024/12/12/Banner_akash.jpg
https://imgkub.com/images/2024/12/12/Banner_jala.jpg
https://imgkub.com/images/2024/12/12/Banner_prithvi.jpg

*/

/* Define clases para cada fondo */
.bg-akash {
  background-image: url("https://imgkub.com/images/2024/12/12/Banner_akash.jpg");
  background-size: cover;
  background-position: right;
}

.bg-vayu {
  background-image: url("https://imgkub.com/images/2024/12/12/Banner_vayu.jpg");
  background-size: cover;
  background-position: right;
}

.bg-tejas {
  background-image: url("https://imgkub.com/images/2024/12/12/Banner_agni.jpg");
  background-size: cover;
  background-position: right;
}

.bg-apas {
  background-image: url("https://imgkub.com/images/2024/12/12/Banner_jala.jpg");
  background-size: cover;
  background-position: right;
}

.bg-prithvi {
  background-image: url("https://imgkub.com/images/2024/12/12/Banner_prithvi.jpg");
  background-size: cover;
  background-position: right;
}




/*--------------------- widget------------------------*/

.widget {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.8);/* Fondo suave */
  border-radius: 15px; /* Bordes redondeados */
  padding: 0.5rem;
  width: 100%; /* Ancho fijo */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  font-family: Arial, sans-serif; /* Fuente legible */
  color: #333;
  z-index: 800; /* Asegúrate de que esté por encima de otros elementos */
}



.widget-title {
  font-size: 1.8em;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.widget-content.horizontal-layout {
  display: flex; /* Organiza los elementos en fila */
  flex-direction: row; /* Asegura que estén alineados horizontalmente */
  justify-content: space-around; /* Espacio uniforme entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 20px; /* Espacio entre los elementos individuales */
  flex-wrap: nowrap; /* Evita que los elementos salten a una nueva fila */
  overflow-x: auto; /* Permite desplazamiento horizontal si no hay espacio suficiente */
}


.widget-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sun-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sun-info .icon {
  font-size: 2.5em; /* Tamaño grande para los iconos */
  margin-right: 1rem;
}

.sun-info h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #555; /* Color del título */
}

.sun-info p {
  font-size: 1.1em;
  color: #007aff; /* Color azul para los textos */
}

.sun-info p#sunrise, .sun-info p#sunset {
  font-weight: bold;
  font-size: 1.2em;
  color: #333; /* Colores más oscuros para el texto */
  transition: color 0.3s ease; /* Transición suave */
}

.sun-info p#sunrise:hover, .sun-info p#sunset:hover {
  color: #0051a8; /* Color al pasar el mouse */
}

/* Estilo para los iconos */
#sunrise-icon, #sunset-icon {
  color: #f39c12; /* Color dorado para el sol */
  transition: transform 0.3s ease; /* Efecto de animación */
}

.sun-info:hover .icon {
  transform: scale(1.2); /* Escala al pasar el mouse */
}



/*----------------------slider--------------------------*/



/* Estilo principal para el slider */
.slider {
  position: relative;
  background: #ffffff; /* Fondo blanco */
  border-radius: 1.25rem; /* Bordes redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  padding: 0.5rem; /* Espaciado lateral y superior */
  text-align: center;
  width: 100%; /* Un tamaño más compacto */
  height: auto; /* Altura moderada */
  overflow: hidden; /* Asegurar que no se salga nada del slider */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

/* Contenido del slider */
.slider-content {
  max-height: 300px; /* Limitar la altura del contenido */
  overflow-y: auto; /* Hacer scroll si el contenido es largo */
  text-align: center; /* Alinear el texto a la izquierda */
  font-size: 30px;
}

h2 {
  font-size: 1.4em;
  margin: 10px 0; /* Espaciado alrededor del título */
  color: #333; /* Color de texto oscuro */
}

/* Estilo para las flechas */
.slider-arrows {
  position: absolute;
  top: 10%; /* Colocamos las flechas en el tercio superior */
  width: calc(98%); /* Ajuste del ancho para dejar espacio para las flechas */
  display: flex;
  justify-content: space-between;
  padding: 0; /* Sin padding */
}

.arrow {
  font-size: 30px;
  color: #007aff; /* Color azul Apple */
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  background: transparent; /* Fondo transparente */
  padding: 10px;
  border-radius: 50%; /* Flechas redondas */
}

.arrow:hover {
  color: #0051a8; /* Azul oscuro al hacer hover */
  transform: scale(1.2); /* Ligera animación de zoom */
}

/* Ajuste para la flecha izquierda */
.arrow.left {
  padding-left: 10px; /* Espaciado a la izquierda */
}

/* Ajuste para la flecha derecha */
.arrow.right {
  padding-right: 10px; /* Espaciado a la derecha */
}

/* Estilo para la tabla */
#tatwa-schedule {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
}

#tatwa-schedule th,
#tatwa-schedule td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Línea separadora */
}

#tatwa-schedule th {
  background-color: #f5f5f5; /* Fondo gris claro para los encabezados */
}

#tatwa-schedule td {
  color: #555; /* Color de texto para las celdas */
}


/*----------------------TIMELINE----------------------------*/

/* Estilo general para la línea de tiempo */
#tatwa-timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco suave */
  border-radius: 10px; /* Bordes redondeados para suavizar */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
  margin: 1.25rem 0;
}

/* Estilo de cada subtatwa */
.timeline-segment {
  width: 18%; /* Cada subtatwa ocupa el 18% de la línea */
  text-align: center;
  padding: 15px 0; /* Aumentar el padding para un mejor aspecto */
  background-color: #f0f0f5; /* Color de fondo suave y claro */
  border-radius: 12px;
  font-family: 'San Francisco', sans-serif;
  font-weight: bold;
  color: #2c3e50; /* Color de texto oscuro y elegante */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Añadir transición para la sombra */
}

/* Resaltar el subtatwa activo */
.timeline-segment.active {
  background-color: rgba(24, 77, 71, 1); /* Azul suave, inspirado en Apple */
  color: white; /* Texto blanco en el subtatwa activo */
  transform: scale(1.1); /* Sutil agrandamiento para resaltar */
  box-shadow: 0 4px 12px rgba(0, 113, 227, 0.5); /* Sombra más pronunciada para el activo */
}

/* Estilo del texto dentro de cada subtatwa */
.timeline-segment span {
  font-size: 1em; /* Aumentar el tamaño de fuente */
  color: inherit; /* Heredar el color del subtatwa */
}

/* Hover effect para subtatwas */
.timeline-segment:hover {
  background-color: #00914A; /* Color suave para efecto hover */
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}

/* Estilo general para el contenedor de la línea de tiempo */
#tatwa-timeline-container {
  width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
  max-width: 62.5rem; /* Ancho máximo para mantener el diseño centrado */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 1.25rem; /* Espaciado interno */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco suave */
  border-radius: 10px; /* Bordes redondeados */
}

/* Línea de tiempo vertical */
#tatwa-timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 4px; /* Ancho de la línea */
  background-color: rgba(24, 77, 71, 1);; /* Color de la línea */
  transform: translateX(-50%); /* Centrar la línea */
  z-index: -1; /* Asegurarse de que la línea esté detrás de los subtatwas */
}



/*----------------------CALENDAR TIMELINE--------------*/

.section-calendar_timeline {
  position: relative;
  padding: 50px 0;
  overflow: auto;
  min-width: 700px;
}

.section-calendar-timeline .container {
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-calendar-timeline .calendar-timeline {
  list-style: none;
  position: relative;
  margin: 30px 0;
}

.section-calendar-timeline .calendar-timeline li {
  height: 80px;
  width: 80px;
  position: absolute;
  border-color: var(--clr-border-timeline);
}

.section-calendar_timeline .calendar-timeline li.odd {
  left: -40px;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  transform: translateX(-50%);
  border-radius: 80px 0 0 80px;
  box-shadow: -15px 0 15px -12px rgba(0, 0, 0, .5);
}

.section-calendar_timeline .calendar-timeline li.even {
  border-style: solid;
  border-width: 2px 2px 2px 0;
  left: -40px;
  transform: translateX(50%);
  border-radius: 0 80px 80px 0;
  box-shadow: 13px 0 15px -12px rgba(0, 0, 0, .3);
}

/* Style li */
.section-calendar-timeline .calendar-timeline li:nth-child(2) {
  top: 78px;
}
.section-calendar-timeline .calendar-timeline li:nth-child(3) {
  top: 156px;
}
.section-calendar-timeline .calendar-timeline li:nth-child(4) {
  top: 234px;
}
.section-calendar-timeline .calendar-timeline li:nth-child(5) {
  top: 312px;
}
.section-calendar-timeline .calendar-timeline li:nth-child(6) {
  top: 390px;
}

/* Style pseudo Element */
.section-calendar-timeline .calendar-timelineli:before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--clr-border-timeline);
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 13px;
  color: #FFF;
}
.section-calendar-timeline .calendar-timelineli:nth-child(odd):before {
  right: 0;
  transform: translateY(-50%) translateX(50%);
}
.section-calendar-timeline .calendar-timelineli:nth-child(even):before {
  left: 0;
  transform: translateY(-50%) translateX(-50%);
}

.section-calendar-timeline .calendar-timelineli:nth-child(1):after,
.section-calendar-timeline .calendar-timelineli:last-child:after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--clr-border-timeline);
}
.section-calendar-timeline .calendar-timelineli:nth-child(1):after {
  top: 0;
  transform: translate(-50%, -50%)
}
.section-calendar-timeline .calendar-timelineli:last-child:after {
  bottom: 0;
  right:0;
  transform: translate(50%, 50%)
}

.section-calendar-timeline .calendar-timelineli:nth-child(1):before {content: '1'}
.section-calendar-timeline .calendar-timelineli:nth-child(2):before {content: '2'}
.section-calendar-timeline .calendar-timelineli:nth-child(3):before {content: '3'}
.section-calendar-timeline .calendar-timelineli:nth-child(4):before {content: '4'}
.section-calendar-timeline .calendar-timelineli:nth-child(5):before {content: '5'}
.section-calendar-timeline .calendar-timelineli:nth-child(6):before {content: '6'}

.section-calendar_timeline .calendar-timeline li .content {
  padding: .5rem;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.section-calendar-timeline .calendar-timelineli:nth-child(odd) .content {
  left: calc(100% + 30px);
}
.section-calendar-timeline .calendar-timelineli:nth-child(even) .content {
  right: calc(100% + 30px);
}

.section-calendar-timeline .calendar-timeline.content > * {
  padding: .5rem;
}
.section-calendar-timeline .calendar-timeline.content h3 {
  text-align: center;
  margin: 0;
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .4);
}
.section-calendar-timeline .calendar-timelineli:nth-child(1) h3 {
  background-color: #e74c3c;
}
.section-calendar-timeline .calendar-timelineli:nth-child(2) h3 {
  background-color: #2ecc71;
}
.section-calendar-timeline .calendar-timelineli:nth-child(3) h3 {
  background-color: #e67e22;
}
.section-calendar-timeline .calendar-timelineli:nth-child(4) h3 {
  background-color: #1abc9c;
}
.section-calendar-timeline .calendar-timelineli:nth-child(5) h3 {
  background-color: #9b59b6;
}
.section-calendar-timeline .calendar-timelineli:nth-child(6) h3 {
  background-color: #fff00f;
}

.section-calendar-timeline .calendar-timeline.content p {
  font-size: 14;
  line-height: 1.3;
}

